@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.App .promo {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
  top: -150px;
  background-color: #f7f7f7;
  max-width: 1110px;
  margin: 0 auto;
}
